<div class="col-md-8">
    <h1><%= current_user.email %></h1>
    <div>
    <h3>Items</h3>
    <%= render partial: 'items/form', locals: {user: current_user, item: Item.new } %>
    <%= render partial: 'items/item', collection: current_user.items %>
    </div>
    <div class='js-items-count'><%= pluralize(current_user.items.count, 'items') %></div>
    </div>