<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <center>
    <h1>About Blocitoff</h1>
    <p>Created by Tim Gates</p>
  </body>
</center>
</html>
