<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blocitoff</title>
  </head>
  <body><center>
    <div class="transbox">
    <h1><b>Blocitoff</b></h1>
    <br>
    <p>A "Self-Destructing" to-do list.</p>
    <br>
    <br>
    <p><i>Click the Demo button below to see it in action</i></p>
    <br>
    <button class="demo-btn"><%= link_to "Demo", "https://google.com", class: "demo-btn" %></button>
  </body></center>
</div>
</html>
