// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-btn {
  color: #A0CFEC;
  background-color: gray;
  height: 30px;
  padding: 5 5 5 5;
  width: 90px;
  text-align: center;
  -moz-border-radius: 4em 1em 4em 1em;
  border-radius: 4em 1em 4em 1em;
}

.social-btn {
  color: #A0CFEC;
  background-color: gray;
  height: 30px;
  padding: 5 5 5 5;
  width: 90px;
  text-align: center;
  -moz-border-radius: 4em 1em 4em 1em;
  border-radius: 4em 1em 4em 1em;
}

.demo-btn {
  color: #A0CFEC;
  background-color: gray;
  height: 20px;
  padding: 5 5 5 5;
  width: 60px;
  text-align: center;
  border-radius: 2em 1em 2em 1em;
}
